/*body{
	background-image: url(back.jpg);
	background-repeat: repeat;
	background-size: 200px;
	background-position: center;


}*/

/*--------------------for header-------------    */

/*
header{
	margin:15px;
	background-image: url(a.gif);
	background-position: center;

}
*/

#logo{
	width: 200px;	
}
	

#hButton{
	float: right;

}
 
footer ul{
	list-style-type: none;
    padding: 1%;
    margin:2% 0;
    
}

footer ul li{
    display:inline-flex;
	margin-bottom: 1%;
   
}

footer ul li a{
	font-size: 1.5em;
	text-decoration: none;
	color: blueviolet;
	border: 1px solid hsla(27,55%,34%,1.00);
	padding:5px 10px;
}

footer ul li a:hover{
	background-color:gray;
	color: black;
}

nav{

	
}

footer nav a{
	font-size: 1.2em;
	text-decoration:none;
	color: brown;
}

footer nav a:hover{
	color: black;
	background-color: chartreuse;
}


.news{
	float: right;
	width: 15%;
	height: 400px;
	margin-right: 20px;
	padding-right: 20px;
	background-color: antiquewhite;
	
}
.sampImg{
	width: 85%;
}

figure img{
	width:30%;
	height: 400px;
}

.specialPro{
	
	resize: vertical;
	
}
.pr{
	width: 25%;
	height: 400px;
}
footer{

/*	background-image: url("../images/footer.png");*/
	background-position: center;
}
.position {
	left: 40%;
}

.end {
	right: 0px;
}

.footerFont {
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
}

.positionBottom {
	bottom: 0px;
	padding-top:16px;
}

.math {
	
	
}

.mathHigth {
	position: relative;
	height: auto;
}



.footerBgColor1 {
	background-color: rgba(240, 255, 15,0.80)
}

.footerBgColor2 {
	background-color: rgba(0,0,225,0.12);
    margin: 0;
}

.border {
	border-left: 1px ridge blue;
	border-right: 1px ridge blue;
}

.flag {
    
    text-align: right;
    padding-right: 1%;
    
}

.footerNav{
    margin: 0;
}


@media only screen and (max-width: 750px){
    
   .flag {
    
        text-align: center;
        padding: 0;

    }


    
}


